<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Booking meeting rooms Application</title>
</head>

<body>

<div th:insert="header.html"></div>

<h1>Переговорки</h1>
<table class="rooms" border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>roomName</th>
        <th>capacity</th>
        <th>hasConditioner</th>
        <th>hasVideoconference</th>
        <th>hasSubscribe</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<td>
    <a href="/rooms/add">add</a>
</td>

<script>
    function subscribe(id) {
        $.ajax({
            type: 'POST',
            url: `/api/subscribing/rooms/${id}`,
            data: id,
            contentType: "application/json",
            error: function (result) {
                alert(result.responseJSON.message);
            },
            success: function () {
                $('tbody').empty();
                $.ajax({
                    type: 'POST',
                    url: "/api/rooms/search",
                    data: JSON.stringify({}),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (rooms) {
                        appendTbody(rooms);
                    }
                });
            }
        });
    }

    function unsubscribe(id) {
        $.ajax({
            type: 'DELETE',
            url: `/api/subscribing/rooms/${id}`,
            data: id,
            contentType: "application/json",
            error: function (result) {
                alert(result.responseJSON.message);
            },
            success: function () {
                $('tbody').empty();
                $.ajax({
                    type: 'POST',
                    url: "/api/rooms/search",
                    data: JSON.stringify({}),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (rooms) {
                        appendTbody(rooms);
                    }
                });
            }
        });
    }

    function deleteb(id) {
        $.ajax({
            type: 'DELETE',
            url: `/api/rooms/${id}`,
            data: id,
            contentType: "application/json",
            error: function (result) {
                alert(result.responseJSON.message);
            },
            success: function (rooms) {
                $('tbody').empty();
                appendTbody(rooms);
            }
        });
    }

    $(function () {
        $.ajax({
            type: 'POST',
            url: "/api/rooms/search",
            data: JSON.stringify({}),
            dataType: "json",
            contentType: "application/json",
            success: function (rooms) {
                appendTbody(rooms);
            }
        });

    });

    function appendTbody(rooms) {
        rooms.forEach(function (room) {
            $('tbody').append(`
                    <tr>
                        <td>${room.id}</td>
                        <td>${room.roomName}</td>
                        <td>${room.capacity}</td>
                        <td>${room.hasConditioner}</td>
                        <td>${room.hasVideoconference}</td>
                        <td>${room.hasSubscribe}</td>
                        <td>
                            <a href="/rooms/${room.id}">edit</a>
                        </td>
                        <td>
                            <button type="button" onclick="deleteb(${room.id})">delete</button>
                        </td>
                        <td>
                            <button type="button" onclick="subscribe(${room.id})" ${room.hasSubscribe ? ' disabled' : ''}>subscribe</button>
                        </td>
                        <td>
                            <button type="button" onclick="unsubscribe(${room.id})" ${!room.hasSubscribe ? ' disabled' : ''}>unsubscribe</button>
                        </td>
                        <td>
                            <a href="/bookings/add/${room.id}">booking</a>
                        </td>
                    </tr>
                `)
        });
    }
</script>
</body>
</html>